@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 100%; }
.navegador{
    display: flex;
    flex-direction: row;
    background-color: rgb(87, 87, 87);
    width: 100%;
    height: 55px;
    margin: 1px 1px 1px 1px;
    align-items: center;
    justify-content: center;

}
.navegador li{
    padding: 2rem;
    list-style: none;
}
.navegador li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.tituloMontaña{
    display: flex;
    margin-left: 25rem;
    margin-top: 15px;
    font-size: 3rem;
}
.titulo2{
    display: flex;
    margin-left: 32rem;
    margin-top: 15px;
    font-size: 1.5rem;
    text-decoration: underline;
}
.parrafoIndex{
    max-width: 890px;
    margin-left: 17rem;
}
.tituloDestino{
    display: flex;
    margin-left: 25rem;
    margin-top: 20px;
    font-size: 2rem;

}

.tarjetasDesafio1{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;

}
.tarjetasDesafio2{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;

}
.tarjetasGenerales1{
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-around;

}


/* .footer{
    display: flex;
    flex-direction: row;
    background-color: rgb(87, 87, 87);
    width: 100%;
    height: 100px;
    margin: 1px 1px 1px 1px;
}
.footer li{
    list-style: none;
} */
