
* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;;
  font-size: 100%;
}
.navegador {
  display: flex;
  flex-direction: row;
  background-color: rgb(87, 87, 87);
  width: 100%;
  height: 55px;
  margin: 1px 1px 1px 1px;
  align-items: center;
  justify-content: center;
}
.navegador li {
  padding: 2rem;
  list-style: none;
}
.navegador li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
/* medidad query para hacerlo responsive seccion NAVEGADOR */
@media (max-width: 550px) {
  .navegador li a {
    text-decoration: none;
    color: black;
    font-size: 10px;
  }
  .navegador li {
    padding: 0.5rem;
    list-style: none;
  }

 }
/* seccion Index+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.tituloMontañaPrincipal {
  display: flex;
  margin-left: 35rem;
  margin-top: 15px;
  font-size: 2.5rem;
  color: rgb(0, 106, 113);
}
.quienesSomosIndex{
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/319/24/935/landscape-mountains-peacefull-far-view-wallpaper-preview.jpg) ;
  height: 20rem;
  background-repeat:round;
}
.tituloQuienesSomosIndex {
  display: flex;
  margin-left: 32rem;
  margin-top: 35px;
  font-size: 1.5rem;
  text-decoration: underline;
}
 .parrafoIndex {
  max-width: 890px;
  margin-left: 30px;

} 
.tituloDestinoIndex {
  display: flex;
  margin-left: 25rem;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2rem;
  color: rgb(0, 106, 113);
}

.cardIndexClass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20rem;
}
#listaF{
  display: flex;
  flex-direction: row;
  background-color: rgb(87, 87, 87);
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
/* medidad query para hacerlo responsive seccion INDEX */
@media (max-width: 800px) {
  .parrafoIndex {
    max-width: 300px;
    margin-left: 30px;
  } 
  .tituloMontañaPrincipal {
    display: flex;
    margin-left: 10rem;
    margin-top: 15px;
    font-size: 2rem;
  }
  .tituloQuienesSomosIndex {
    display: flex;
    margin-left: 10rem;
    margin-top: 35px;
    font-size: 1rem;
    text-decoration: underline;
  }
  .tituloDestinoIndex {
    display: flex;
    margin-left: 10rem;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1rem;
  }
 }
/* seccion desafios++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.titulosDesafios{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  background-color: rgba(138, 166, 218, 0.829);
}
.tarjetaDesafio {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.card-title{
  font-size: 20px;
  color: rgb(0, 106, 113);
}
.card-text{
  font-size: 15px;

}
.img-fluid{
  display: flex;
  height: auto;
  width: 70rem;
  margin-left: 3rem;
} 
.tituloDesafio{
  margin-bottom: 2rem;
  margin-left: 15px;
  color: rgb(0, 106, 113);

}
.tituloDescuento{
  margin-left: 15px;
  font-size: 30px;
  word-spacing: 300px;
  padding-left: 2px;
}
.imagenPrincipal{
  display: flex;
  flex-direction: row;
  align-items: center;
}
 .tituloPrincipalCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: rgb(0, 106, 113);
} 
#confirmarCompra a{
  text-decoration: none;
  color: black;
}

/* seccion desafios elemento tiempo ***************************************************************** */
#contenedor{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
#cajaTiempo1{
  width: 170px;
  height: 200px;
  background-color:  rgba(0, 105, 113, 0.438);
  margin-left: 2px;
  border-style:solid 1px color rgb(87, 87, 87);
  border-radius: 3px ;
  
}
#cajaTiempo2{
  width: 170px;
  height: 200px;
  background-color: rgba(0, 105, 113, 0.438);
  margin-left: 10px;
  border-style:solid 1px color rgb(87, 87, 87);
  border-radius: 3px ;
  
}
.tituloTiempo{
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem ;

}
.tituloTiempo img{
  width: 50px;
  height: 45px;

}
#temperatura-descripcion{
  font-size: 20px;
  padding: 5px;

}
#temperatura-valor{
  font-size: 20px;
  padding: 5px;
}
#atardecer{
  font-size: 20px;
  padding: 5px;
}
#ultimaActualizacion{
  font-size: 20px;
  padding: 5px;
}
#probabilidadPrecipitacion{
  font-size: 20px;
  padding: 4px;
  margin-top: 1px;
}


/* seccion quienes somos *********************************************************************************************/
.quienesSomosTexto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 6rem;
  text-align: center;
}
.quienesSomosTexto p{
  max-width: 30rem;
}
.quienesSomosTexto h3{
  color: rgb(0, 106, 113);

}
.quienesSomosTexto ul li{
  list-style: none;
}


/* seccion carrito para terminar la compra  */

.formularioCarrito {
    display: flex;
    max-width: 50 rem;
    align-content: stretch;
    flex-direction: column-reverse;
    align-items: center;
}

.titulosCarrito{
  display: flex;
  flex-direction: column;
  margin-left: 22rem;
  color: rgba(0, 105, 113, 0.438) ;
}
.titulosCarrito p{
max-width: 20rem;
}
/* #botonCompra{
  display: flex;
  flex-direction: column;
  margin-left: ;
} */

/* medidad query para hacerlo responsive seccion carrito */
@media (max-width: 850px) {
  .titulosCarrito{
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    color: rgba(0, 105, 113, 0.438) ;
    max-width: 10rem;
  }
  .titulosCarrito p{
  max-width: 10rem;
  }

 }