@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
}
.navegador {
  display: flex;
  flex-direction: row;
  background-color: rgb(87, 87, 87);
  width: 100%;
  height: 55px;
  margin: 1px 1px 1px 1px;
  align-items: center;
  justify-content: center;
}
.navegador li {
  padding: 2rem;
  list-style: none;
}
.navegador li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
/* seccion Index+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.tituloMontaña {
  display: flex;
  margin-left: 29rem;
  margin-top: 15px;
  font-size: 2.5rem;
  color: rgb(0, 106, 113);
}
.quienesSomos{
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/319/24/935/landscape-mountains-peacefull-far-view-wallpaper-preview.jpg) ;
  height: 20rem;
  background-repeat:round;
}
.titulo2 {
  display: flex;
  margin-left: 32rem;
  margin-top: 35px;
  font-size: 1.5rem;
  text-decoration: underline;
}
.parrafoIndex {
  max-width: 890px;
  margin-left: 17rem;
}
.tituloDestino {
  display: flex;
  margin-left: 25rem;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 2rem;
  color: rgb(0, 106, 113);
}

.cardIndexClass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20rem;
}
#listaF{
  display: flex;
  flex-direction: row;
  background-color: rgb(87, 87, 87);
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
/* seccion desafios++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.titulosDesafios{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  background-color: rgba(138, 166, 218, 0.829);
}
.tarjetaDesafio {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.card-title{
  font-size: 20px;
  color: rgb(0, 106, 113);
}
.card-text{
  font-size: 15px;

}
.img-fluid{
  display: flex;
  height: auto;
  width: 70rem;
  margin-left: 3rem;
} 
.tituloDesafio{
  margin-bottom: 2rem;
  margin-left: 15px;
  color: rgb(0, 106, 113);

}
.tituloDescuento{
  margin-left: 15px;
  font-size: 30px;
  word-spacing: 300px;
  padding-left: 2px;
}
.imagenPrincipal{
  display: flex;
  flex-direction: row;
  align-items: center;
}
 .tituloPrincipalCard{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
  color: rgb(0, 106, 113);
} 





/* seccion quienes somos *********************************************************************************************/
.quienesSomosTexto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 6rem;
  text-align: center;
}
.quienesSomosTexto p{
  max-width: 30rem;
}
